@import '../../../../styles/variables.scss';

.price-block {
	@include blockStyle;
	&__text {
		display: inline-block;
		width: 33.3%;
	}
	&__info {
		display: inline-block;
		color: $primaryTextColor;
		width: 33.3%;
		text-align: right;
	}
	&__date {
		display: inline-block;
		color: $primaryTextColor;
		width: 33.3%;
		text-align: center;
	}
	.income {
		color: green;
	}
	.expenses {
		color: red;
	}
}