@import '../../../styles/variables.scss';

.slider {
	width: 1000px;
	height: 220px;
	margin: 40px auto;
	display: flex;
	align-items: center;
	.window {
		width: 100%;
		height: 100%;
		padding: 10px;
		margin: 20px;
		//box-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
		border-radius: 15px;
		overflow: hidden;
		.all-items {
			height: 100%;
			display: flex;
		}
	}
}