@import '../../styles/variables.scss';

.container {
	padding: 15px 30px;
	display: block;
	min-height: 100%;
	border-radius: 10px;
	background-color: $primaryColor;
	border: 5px solid rgb(240, 240, 240);
	&:hover{
		//box-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
		border: 5px solid rgb(220, 220, 220);
	}
	&__title {
		font-size: $titleText;
		margin: 5px 0px;
		font-weight: bold;
		color: $primaryTextColor;
	}
	&__content {
		overflow:hidden;
		&__text {
			font-size: $contentText;
			margin: 10px auto;
			color: $primaryTextColor;
		}
	}
}
#container-1 {
	grid-area: A;
}
#container-2 {
	grid-area: B;
}
#container-3 {
	grid-area: C;
}
#container-4 {
	grid-area: D;
}
#container-5 {
	grid-area: E;
}
#container-6 {
	grid-area: F;
}
#container-7 {
	grid-area: G;
}