@import '../../../styles/variables.scss';

.input-element {
	input {
		display: block;
		width: 96%;
		margin: 10px auto;
		border: 1px solid #bdbdbd;
		border-radius: 10px;
		font-size: $subTitleText;
		padding: 5px;
	}
}

.inputDate-element {
	input {
		display: block;
		width: 96%;
		margin: 10px auto;
		border: 1px solid #bdbdbd;
		border-radius: 10px;
		font-size: $subTitleText;
		padding: 5px;
	}
}

.uploadImg-element {
	width: 100%;
	input {
		display: none;
	}
	#file-input-label {
		display: block;
		margin: 15px auto;
		padding: 5px 0px;
		width: 110px;
		text-align: center;
		border: 1px black solid;
	}
	&__img {
		img {
			display: block;
			margin: auto;
		}
	}
}