@import './variables.scss';

.context {
	min-height: 100vh;
	max-height: 100%;
	margin: 0px 3%;
	padding: 35px;
	background-color: $secondaryColor;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	// .bg-container {
	// 	width: 400px;
	// }
	// .sm-container {
	// 	width: 200px;
	// }
}