$primaryColor: #ffffff;   //#4cc141
$secondaryColor: #1668d3; //#4cc141  //#0c0c0c //#4688E1
$tertiaryColor: #3067d3 ; //rgb(95, 95, 219) //

$primaryTextColor: #000;
$secondaryTextColor: #fff;

$superTitle: 20px;
$titleText: 18.72px;
$subTitleText: 16px;
$contentText: 14px;

$mediaSize1: 1080px;


@mixin blockStyle() {
	margin: 10px 0px;
	justify-content: space-between;
	background-color: $primaryColor;
	border: 3px solid rgb(240, 240, 240);
	border-radius: 10px;
	padding: 0px 10px;
	&:hover {
		border: 5px solid rgb(220, 220, 220);
	}
	&__content {
		display: flex;
		width: 100%;
		padding: 10px;
	}
}