@import '../../../styles/variables.scss';

.link-button {
	width: 100px;
	background-color: $secondaryColor;
	display: block;
	padding: 15px 30px;
	border: none;
	color: $secondaryTextColor;
	text-transform: uppercase;
	text-align: center;
	margin: 20px auto;
	&:hover {
		box-shadow: #87abd9 0px 3px 8px;
	}
	a {
		text-decoration: none;
		color: $secondaryTextColor;
	}
}